tensorflow-cpu==2.21.0

opencv-python; platform_system == "Windows"
opencv-python-headless; platform_system != "Windows"

numpy
matplotlib
scikit-learn
Pillow
tqdm

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu

ultralytics==8.4.174

streamlit==1.65.0
streamlit-webrtc==0.78.1